body{
    color: white;
    background-color: black;
    
}


.background {
    background-image: url("../images/background.jpg");
    background-size: cover;

}

.logo {
    
    height: 200px;

}

.logoText {

    padding: 20px;
}

#placeholders {

    letter-spacing: 6px;
    font-size: 75px;
}